@charset "UTF-8";
@font-face {
  font-family: "Nexa";
  src: url("../fonts/Nexa Regular.otf") format("truetype");
}
@font-face {
  font-family: "Coolv";
  src: url("../fonts/coolvetica rg.ttf") format("truetype");
}
body {
  font-family: "Nexa", sans-serif;
}

h2 {
  color: #b57575;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

.btn-primary {
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #3d7848;
  border-radius: 50px;
}
.btn-primary:hover {
  background-color: #98ad9e;
}

.logo {
  width: 40%;
  height: 40%;
}

.navbar-nav .nav-link {
  white-space: nowrap;
}

.navbar-nav .nav-link.active {
  background-color: #dca39b;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-nav .nav-link.active:hover {
  background-color: #b57575;
}

.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.scrolled + .content {
  margin-top: 56px;
}

#myCarousel .carousel-item {
  height: 400px;
  position: relative;
}
#myCarousel .carousel-item.active:first-child {
  background-size: cover;
  background-position: center;
  background-image: url(../img/fondo-2.jpg);
}
#myCarousel .carousel-inner > .carousel-item:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgb(255, 255, 255));
}
#myCarousel .carousel-item.active:nth-child(2) {
  background-image: url(../img/PLANTILLAS\ PPT-2.png);
  background-size: cover;
}
#myCarousel .carousel-inner > .carousel-item:nth-child(2) .btn {
  font-size: 2rem;
}
#myCarousel .carousel-item.active:nth-child(3) {
  background-image: url(../img/map.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#myCarousel .logo-carrusel {
  width: 80%;
}
#myCarousel .pic2 {
  width: 50%;
}

.cards .card {
  color: #e5eaed;
  justify-content: center;
  position: relative;
  border-width: 0px;
}
.cards .card h3 {
  margin: 0;
}
.cards .card div {
  backface-visibility: hidden;
  transition: 1s;
}
.cards .card .front {
  transform: perspective(500px) rotateY(0deg);
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards .card .front .icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 15%;
}
.cards .card .back {
  transform: perspective(500px) rotateY(180deg);
  position: absolute;
}
.cards .card:hover .front {
  transform: perspective(500px) rotateY(180deg);
}
.cards .card:hover .back {
  transform: perspective(500px) rotateY(360deg);
}
.cards .first-card {
  background-image: url(../img/psicoterapia.jpg);
  background-size: cover;
}
.cards .first-card .img-fluid {
  width: 100px;
}
.cards .first-card li {
  margin-top: 25px;
}
.cards .first-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.375rem;
  background-color: rgba(0, 0, 0, 0.8);
}
.cards .second-card {
  background-image: url(../img/neuropsicologia.jpg);
  background-size: cover;
}
.cards .second-card .img-fluid {
  width: 100px;
}
.cards .second-card li {
  margin-top: 25px;
}
.cards .second-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.375rem;
  background-color: rgba(0, 0, 0, 0.8);
}
.cards .third-card {
  background-image: url(../img/grupos.jpg);
  background-size: cover;
}
.cards .third-card .img-fluid {
  width: 100px;
}
.cards .third-card li {
  margin-top: 25px;
}
.cards .third-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.375rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.list {
  background-image: url(../img/PLANTILLAS\ PPT-1.png);
  background-size: cover;
}

.custom-list {
  font-size: 1.5em;
  line-height: 1.6;
  margin-bottom: 30px;
}
.custom-list li {
  padding-left: 20px;
  margin-bottom: 20px;
}

.custom-list li::marker {
  content: "√";
  color: #3d7848;
}

.card-body {
  background-color: #e5eaed;
}

.comments .card {
  background-color: black;
}
.comments .card .card-body {
  background-color: #dca39b;
}

.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

footer {
  background-color: #98ad9e;
}
footer .fab {
  color: #e5eaed;
}

.last-footer {
  background-color: black;
  text-align: center;
}
.last-footer a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.1dvh;
}

.whatsapp-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.whatsapp-link img {
  width: 70px;
  height: auto;
}

/* Estilos de la pagina de contacto */
.rounded-background {
  border-radius: 10px;
  background-color: #c9ded0;
  padding: 5px 10px;
}

iframe {
  filter: brightness(100%) contrast(100%) saturate(90%) blur(0px) hue-rotate(130deg);
}

/* Estilos de la pagina de servicios */
.servicios .card {
  border-color: white;
}
.servicios .card-body {
  background-color: #e5eaed;
  border-radius: 15px;
}
.servicios .img-fluid {
  width: 20%;
  margin-top: 10px;
}
.servicios h3 {
  border-radius: 20px;
  margin: 10px;
  background-color: #98ad9e;
}
.servicios p {
  margin: 20px;
  text-align: center;
}
.servicios h2 {
  border-color: #98ad9e;
  border-style: dashed;
  border-radius: 15px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .logo {
    width: 60%;
    /* Ajusta el tamaño del logo para pantallas más pequeñas según sea necesario */
    height: auto;
    /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  }
  .whatsapp-link img {
    width: 50px;
    height: auto;
  }
}
.trusthero-copyright-icon {
  visibility: hidden;
}/*# sourceMappingURL=style.css.map */