// Variables
$primary: #98AD9E;
$primaryb: #C9DED0;
$secondary: #B57575;
$secondaryb: #DCA39B;
$background: #E5EAED;

// Fuentes
@font-face {
  font-family: 'Nexa';
  src: url('../fonts/Nexa\ Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Coolv';
  src: url('../fonts/coolvetica\ rg.ttf') format('truetype');
}

// Estilos generales

body {
  font-family: 'Nexa', sans-serif;
}

main {

}

h2 {
  color: $secondary;
}

.btn-primary{
border: none;
background-color: $primary;
border-radius: 50px;
&:hover {
  background-color: #3D7848;
}
}

// Estilos del header

.logo {
  width: 40%;
  height: 40%;
}

.navbar-nav .nav-link {
  white-space: nowrap;
}

.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.scrolled+.content {
  margin-top: 56px;
}

// Estilos del carrusel 

.carousel-item {
  height: 400px;
  position: relative;
}

.carousel-item.active {
  background-image: url('img/fondo-1.png');
  background-size: cover; 
  background-position: center ; 
}

.carousel-inner > .carousel-item:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  right: 20%; /* Empezamos en la mitad del contenedor */
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Degradado de transparente a blanco */
}

.logo {
  size: 30%;
}

.pic2 {
  width: 50%;
}
// Estilos de las tarjetas

.cards {
  .card {
    color: #e5eaed;
    justify-content: center;
    position: relative;
    border-width: 0px;

    h3 {
      margin: 0;
    }

    div {
      backface-visibility: hidden;
      transition: 1s;
    }

    & .front {
      transform: perspective(500px) rotateY(0deg);
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .icon {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 15%;
      }
    }

    & .back {
      transform: perspective(500px) rotateY(180deg);
      position: absolute;
    }

    &:hover {
      & .front {
        transform: perspective(500px) rotateY(180deg);
      }

      & .back {
        transform: perspective(500px) rotateY(360deg);
      }
    }
  }

  .first-card {
    background-image: url(../img/psicoterapia.jpg);
    background-size: cover;

    .img-fluid {
      width: 100px;
    }

    li {
      margin-top: 25px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0.375rem;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .second-card {
    background-image: url(../img/neuropsicologia.jpg);
    background-size: cover;

    .img-fluid {
      width: 100px;
    }

    li {
      margin-top: 25px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0.375rem;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .third-card {
    background-image: url(../img/grupos.jpg);
    background-size: cover;

    .img-fluid {
      width: 100px;
    }

    li {
      margin-top: 25px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0.375rem;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

// Estilos de la lista personalizada

.list {
background-image: url(../img/PLANTILLAS\ PPT-1.png);
background-size: cover;
}

.custom-list {
  font-size: 1.5em;
  line-height: 1.6;
  margin-bottom: 30px;
  li{
    padding-left: 20px;
    margin-bottom: 20px;
  }
}
.custom-list li::marker {
  content: "√";
  color: #3D7848;
}

// Estilos carrusel comentarios
.card-body {
  background-color: #E5EAED;
}

.comments .card {
  background-color: black;

  .card-body {
    background-color: #DCA39B;
  }
}

.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

footer {
  background-color: $primary;

  .fab {
    color: #E5EAED;
  }
}

.last-footer{
  background-color: black;
  text-align: center;

  a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1dvh;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 60%;
    /* Ajusta el tamaño del logo para pantallas más pequeñas según sea necesario */
    height: auto;
    /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  }
}

.trusthero-copyright-icon{
  visibility: hidden;
}